#this file is used to set environment variables for the application. You can copy this file to .env and set the values accordingly.
#the .env file should not be committed to version control, as it may contain sensitive information
BD_NAME= VALUE_HERE
BD_USER=VALUE_HERE
BD_PASSWORD=VALUE_HERE
BD_URL=VALUE_HERE
KEY_SECRET=VALUE_HERE 
URL_FRONT=VALUE_HERE